.master-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: green;
    width: 53%;
    margin: auto;
}

.payout {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between
}

.hand {
    display: flex;
    justify-content: center;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message, h1{
    text-align: center;
}
.message {
    margin: 10px;
    border: 2px solid blue;
}

h1{
    font-family: Tonight;
    font-size: 60px;
}

.odds {
    text-align: center;
}

.win-display {
    text-align: center;
}

.info{
    display: flex;
    justify-content: space-between;
}
.info-parent{
    display:flex; 
    flex-direction: column;
    justify-content: center;
}

.buttons{
    justify-content: space-between;
    display: flex;
    background-color: grey;
}
.info{
    font-size: 20px;
}